$highlight-color: var(--cor-menu-label);
$sidebar-color: var(--cor-menu-label);
$sidebar-bg-color: var(--cor-menu-principal);
$submenu-bg-color: var(--cor-menu-secundaria);
$submenu-bg-color-collapsed: var(--cor-menu-secundaria);
$icon-bg-color: transparent;

@import "~react-pro-sidebar/dist/scss/styles.scss";

.infinite-scroll-component__outerdiv {
  height: calc(100vh - 205px);
}

.btn-primary,
.btn-primary:disabled {
  background-color: var(--cor-principal);
  border-color: var(--cor-principal);

  &:hover,
  &:focus {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-principal);
  }
}

.btn-outline-primary,
.btn-outline-primary:disabled {
  color: var(--cor-principal);
  border-color: var(--cor-principal);

  &:hover,
  &:focus {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-principal);
    color: white;
  }
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  background-color: #ffffff;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 80%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--cor-label);
  }
}

.form-label {
  margin-bottom: 0;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: #000;
  // background: transparent url("../assets/close.svg") 50% / 1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.container-login {
  .background {
    background-color: #aea9c3;
    background-size: cover;
    height: 100vh;
    text-indent: -9999px;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: left;
  }
}

.container-geral {
  padding-top: 68px;
  padding-left: 0;
  padding-right: 0;
  font-size: var(--default-font-size);
}

.top-bar {
  align-items: center;
  box-shadow: 0 1px 15px 1px rgb(52 40 104 / 8%);
  background-color: #fff !important;
  height: 65px;
  padding-bottom: 11px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .nav-link-top {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &::after {
      display: none;
    }
  }

  .icon-menu {
    cursor: pointer;
    color: #aea9c3;
    font-size: 1.5em;
  }

  button {
    background-color: transparent;
    border: 0;
    color: var(--cor-principal);
    outline: none;
    box-shadow: none;

    &.btn-primary.dropdown-toggle:active:focus,
    &.btn-primary.dropdown-toggle:focus,
    &.btn-primary.dropdown-toggle:active,
    &.btn-primary.dropdown-toggle:hover {
      background-color: transparent;
      box-shadow: none;
      color: var(--cor-principal);
      border: 0;
      outline: none;
    }
  }

  .filter-autocomplete {
    position: relative;

    .dropdown-menu {
      transform: translate(0, -3px) !important;
      width: 100%;
    }

    #dropdown-toggle-top {
      opacity: 0;
      position: absolute;
      top: -9999px;
      width: 100%;
    }

    .list-tags {
      position: absolute;

      .badge {
        color: #fff;
        cursor: pointer;
        font-weight: normal;
        font-size: 11px;
        margin-right: 5px;
        padding: 3px 7px;
      }
    }

    input:focus {
      outline: none;
      box-shadow: none;
    }

    .ico-search {
      cursor: pointer;
      min-height: 25px;
      max-width: 25px;
      justify-content: center;
    }

    .list-tags {
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }
  }
}

.sidebar-nav {
  background-color: var(--cor-menu-principal);
  color: var(--cor-menu-label);
  height: calc(100vh - 68px);
  overflow-y: auto;
  padding: 5px 0;
  z-index: 8;

  &.pro-sidebar.collapsed
    .pro-menu
    > ul
    > .pro-menu-item.pro-sub-menu:first-of-type
    > .pro-inner-list-item {
    top: 60px !important;
  }

  .pro-item-content i {
    margin-right: 10px;
    width: 20px;
  }
}

.bg-content-geral {
  background-color: #f2f3f8;
  padding: 0;

  .content-geral {
    height: calc(100vh - 68px);
    overflow-y: auto;
    padding: 30px;
    width: 100%;
    padding-bottom: 0;
    // padding-top: 12px;
    padding-top: 0;

    header {
      align-items: center;
      // margin-bottom: 30px;
      display: flex;
      justify-content: space-between;

      .breadcrumb {
        background-color: transparent;
        margin: 0;
        padding: 0;
      }
    }

    h3 {
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .list-home {
      flex-wrap: wrap;

      .item-list-home {
        align-items: center;
        border: 0;
        border-radius: 10px;
        color: var(--cor-principal);
        cursor: pointer;
        display: flex;
        font-size: 16px;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 30px;
        min-width: 265px;

        &:hover {
          background: var(--cor-principal);
          color: #fff;
          transition: all 0.5s ease;
        }

        i {
          font-size: 2em;
          margin-right: 15px;
          text-align: center;
          width: 50px;
        }
      }
    }
  }
}

.thStyles {
  border-bottom: 2px solid #ddd;
  padding: 15px;
  background: #ededed;
  color: #666;
  text-align: center;
  font-family: 'Arial, "Helvetica Neue", Helvetica, sans-serif';
}

.tdStyles {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  color: #666;
  text-align: center;
  font-family: 'Arial, "Helvetica Neue", Helvetica, sans-serif';
  width: 150px;
}
thead tr th {
  background: white !important;
  position: sticky;
  top: 0;
  z-index: 99;
}

table tr {
  white-space: nowrap;
}

.btn:disabled {
  cursor: not-allowed !important;
}

legend {
  width: auto;
  text-align: left;
  border: none;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--default-font-size);
  font-weight: bold;
  float: unset !important;
}

legend > i.glyphicon-th-list {
  margin-right: 15px;
}

fieldset {
  margin-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #fff;
}

fieldset {
  border: 1px solid var(--cor-principal);
  // padding-top: 5px;
}
